.mission {
  justify-content: center;
  color: #fff;
  gap: 30px;
  position: relative;
  overflow: hidden;
  margin-bottom: 96px;
}

.mission__title {
  margin-bottom: 6px;
  font-weight: 600;
  letter-spacing: -0.008em;
  text-align: center;
}

.mission__text {
  font-weight: 400;
  text-align: center;
  display: inline-block;
  width: 87%;
  text-indent: -5px;
}

.mission__background {
  position: absolute;
  top: 47px;
  width: 100%;
  height: 80%;
  background-image: url('../../assets/images/backgroundPattern.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.mission__background_left {
  left: 0;
}

.mission__background_right {
  right: -4px;
  transform: scale(-1, -1);
}


@media screen and (min-width: 426px) {
  .mission {
    height: 470px;
  }

  .mission__title {
    font-size: 56px;
  }

  .mission__text {
    font-size: 32px;
    line-height: 48px;
  }
}

@media screen and (max-width: 425px) {
  .mission {
    height: 58.1vw;
    width: 91vw;
  }
  .mission__title {
    font-size: 28px;
  }

  .mission__text {
    font-size: 16px;
    line-height: 20px;
  }
}