.directions {
  margin-bottom: 99px;
}

.directions__title {
  font-weight: 600;
  letter-spacing: -0.008em;
  text-align: center;
}

.directions__list {
  margin-top: 53px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 22px 0;
  align-items: center;
  justify-content: center;
}

.directions__item {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
}

.directions__item_solution {
  background-image: url('../../assets/images/solution.jpg');
}

.directions__item_security {
  background-image: url('../../assets/images/security.jpg');
}

.directions__item_import {
  background-image: url('../../assets/images/import.jpg');
}

.directions__item_cloud {
  background-image: url('../../assets/images/cloud.jpg');
}

.directions__item_develop {
  background-image: url('../../assets/images/develop.jpg');
}

.directions__item_support {
  background-image: url('../../assets/images/support.jpg');
}

.directions__background {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #2D3653;
  opacity: .6;
  color: #fff;
  bottom: 0;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.directions__container_higth {
  padding-top: 18px;
}

.directions__info {
  font-weight: 600;
  letter-spacing: -0.015em;
}

.directions__text {
  font-weight: 400;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.directions__item:hover .directions__background {
  height: 100%;
}

.directions__item:hover .directions__text {
  visibility: visible;
  opacity: 1;
}

.directions__item:hover .directions__container_higth {
  padding-top: 26px;
}

@media screen and (min-width: 1336px) {
  .directions__title {
    font-size: 56px;
  }

  .directions__item {
    height: 13.5vw;
    width: 32vw;
  }

  .directions__item:nth-child(odd) {
    margin-right: 22px;
  }

  .directions__info {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  .directions__container {
    padding: 29px 20px;
    width: 77%;
  }

  .directions__background {
    height: 82px;
  }
}

@media screen and (max-width: 1335px) and (min-width: 481px) {
  .directions__item {
    height: 13.5vw;
    width: 32vw;
    min-height: 194px;
    min-width: 460px;
  }
}

@media screen and (max-width: 1335px) and (min-width: 426px) {
  .directions__title {
    font-size: 56px;
  }

  .directions__text {
    font-size: 16px;
    line-height: 22px;
  }

  .directions__info {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 13px;
  }

  .directions__container {
    padding: 18px;
    max-width: 100%;
  }

  .directions__background {
    height: 60px;
  }
}

@media screen and (max-width: 1335px) and (min-width: 991px) {
  .directions__item:nth-child(odd) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 990px) and (min-width: 425px) {
  .directions__list {
    gap: 22px 20px;
  }
}

@media screen and (max-width: 480px) {
  .directions__title {
    font-size: 28px;
  }

  .directions__item {
    height: 60px;
    width: 90vw;
    background-size: 100%;
  }

  .directions__background {
    height: 100%;
  }
}