.lead {
  gap: 32px;
  width: 89%;
  margin: 81px auto 78px;
}

.lead__title {
  font-size: 56px;
  font-weight: 700;
  padding-left: 9px;
}

.lead__info {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  text-align: center;
  padding-left: 6px;
}