.galary {
  width: 87.8%;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.galary__title {
  font-weight: 600;
  letter-spacing: -0.008em;
  text-align: center;
}

.galary__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.galary__container {
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  max-height: 75.1vh;
  width: 57.8vw;
  display: flex;
  max-width: 1110px;
}

.galary__slider {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.7s ease, right 0.7s ease;
  -webkit-transition: left 0.7s ease, right 0.7s ease;
  -moz-transition: left 0.7s ease, right 0.7s ease;
  -ms-transition: left 0.7s ease, right 0.7s ease;
  -o-transition: left 0.7s ease, right 0.7s ease;
}

.galary__item {
  width: 214px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.7s ease;
  -webkit-transition: background-color 0.7s ease;
  -moz-transition: background-color 0.7s ease;
  -ms-transition: background-color 0.7s ease;
  -o-transition: background-color 0.7s ease;
}

.galary__item_active {
  background-color: #A30C33;
}

@media screen and (min-width: 426px) {
  .galary__title {
    font-size: 56px;
  }

  .galary__slider {
    width: 100%;
  }

  .galary__btn {
    border: none;
    position: absolute;
    top: 3px;
    right: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-bottom: 1px solid #f0f0f0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/icons/arrow-red.svg');
    cursor: pointer;
  }
  
  .galary__btn_left {
    right: 76px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  
  .galary__btn_right {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  .galary__slider-list {
    width: 57.8vw;
    height: 38px;
    margin-top: 76%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 901px) {
  .galary__container {
    min-width: 802px;
  }
}

@media screen and (max-width: 900px) {
  .galary__container {
    height: 70vw;
    width: 90vw;
  }
}

@media screen and (max-width: 425px) {
  .galary__title {
    font-size: 28px;
    line-height: 28px;
  }

  .galary__slider {
    width: 90vw;
  }

  .galary__slider-list,
  .galary__btn {
    display: none;
  }
}
