@use '_variables' as vars;

@import url('../../vendor/normalize.scss');
@import url('../../vendor/fonts/fonts.scss');
@import url('../block/page/page.scss');
@import url('../block/header/header.scss');
@import url('../block/lead/lead.scss');
@import url('../block/map/map.scss');
@import url('../block/mission/mission.scss');
@import url('../block/directions/directions.scss');
@import url('../block/benefits/benefits.scss');
@import url('../block/galary/galary.scss');

body {
  color: #444;
  font-family: 'Proxima Nova Condensed', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #444;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.active {
  color: vars.$active-color;
}

.main-color {
  background-color: vars.$active-background;
}

li:hover, a:hover {
  color: vars.$active-color;
}